<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StockOrderMapper">
 	<sql id="search">
	  	<if test="range != null">
	  		<trim prefix="and (" suffix=")">
	  			<choose>
	  				<when test="range == 'all'.toString()">
	  					CONCAT(ono) like concat('%',#{keyword},'%') or
	  					sname like concat('%',#{keyword},'%') or
	  					CONCAT(order_qty) like concat('%',#{keyword},'%') or
	  					DATE_FORMAT(order_date,'%Y/%m/%d') like concat('%',#{keyword},'%')
	  				</when>
	  				<when test="range == 'no'.toString()">
	  					CONCAT(ono) like concat('%',#{keyword},'%') 
	  				</when>
	  				<when test="range == 'na'.toString()">
	  					sname like concat('%',#{keyword},'%') 
	  				</when>
	  				<when test="range == 'q'.toString()">
	  					CONCAT(order_qty) like concat('%',#{keyword},'%') 
	  				</when>
	  			</choose>
	  		</trim>
	  	</if>
    </sql>
    <sql id="date">
    	<if test="order_date != null and order_date != ''">
    		and (DATE_FORMAT(order_date, '%Y/%m/%d') = DATE_FORMAT(#{order_date}, '%Y/%m/%d'))
    	</if>
    </sql>
       <!-- 재고 주문 -->
	<insert id="od" parameterType="sovo">
		insert into tbl_stock_order(sname, order_qty)
		values (#{sname}, #{order_qty})
	</insert>
	
	<!-- 총 주문 내역 개수 -->
	<select id="tc" parameterType="sopgvo" resultType="int">
 	<![CDATA[
 		select count(ono) as cnt from tbl_stock_order
 		where ono > 0 
 	]]> 
 	    <include refid="date"/>
 		<include refid="search"></include>
 	</select>
 	
 	<!-- 주문 내역 리스트 -->
 	<select id="dateOdList" parameterType="sopgvo" resultType="sovo">
 	<![CDATA[
		select ono, sname, order_qty, order_date
 				from tbl_stock_order where ono > 0
 	]]>
 		<include refid="date"/>
 		<include refid="search"/>
 	<![CDATA[
 		order by ono desc
        limit #{pageIndex}, #{countPerPage}
 	]]>
 	</select>
</mapper>